<html>
    <head>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id="content">
            <h1 id="heading">Teach a man to fish</h1>
            <ul>
                {% for recipe in recipes %}
                <li class="recipe-item" data-recipeid="{{ recipe['recipe_id'] }}" data-title="{{ recipe['nice_title'] }}" data-ingredients="{{ recipe['ingredients'] }}">
                    <a class="nounderline" href="#">
                        <img class="recipe-img" src="{{ recipe['img_url'] }}" />
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div id="recipe-display">
            </div>
            <script>
            function get(url) {
                return new Promise(function(resolve, reject) {
                    var req = new XMLHttpRequest();
                    req.open('GET', url);
                    req.onload = function() {
                        if (req.status == 200) {
                            resolve(req.response);
                        }
                        else {
                            reject(Error(req.statusText));
                        }
                    };
                    req.onerror = function() {
                        reject(Error("Network Error"));
                    };
                    req.send();
                });
            }
            recipeItems = document.getElementsByClassName("recipe-item");
            recipeDisplay = document.getElementById("recipe-display");
            recipeDisplayTitle = document.createElement("p");
            recipeDisplayTitle.classList.add("recipe-display-title");
            recipeDisplay.appendChild(recipeDisplayTitle);
            for (var i=0; i < recipeItems.length; i++) {
                item = recipeItems[i];
                item.addEventListener("click", bindClick(item));
                var ingredients = item.dataset.ingredients.split("'").join("\"");
                ingredients = "{\"ingredients\":" + ingredients + "}";
                ingredients = JSON.parse(ingredients).ingredients;
                item.addEventListener("mouseover", bindHover(item.dataset.title, ingredients));
            }
            function bindClick(item) {
                return function() {
                    var checkmark = document.createElement("img");
                    checkmark.src = "/img/check.png";
                    checkmark.classList.add("checkmark");
                    item.appendChild(checkmark);

                    var id = item.dataset.recipeid;
                    get("/add?recipeid=" + id).then(function(response) {
                        console.log("Yay!", response);
                    }, function(error) {
                        console.log("Awww...", error);
                    })
                    item.firstElementChild.firstElementChild.classList.add("selected");
                };
            }
            function bindHover(title, ingredients) {
                return function() {
                    recipeDisplay.style.display = "block";
                    recipeDisplayTitle.textContent = title;
                    old = document.getElementsByClassName("recipe-display-ingredient");
                    while(old[0]) {
                            old[0].parentNode.removeChild(old[0]);
                    }
                    for (var i=0; i<ingredients.length; i++) {
                        var ingredient = document.createElement("p");
                        ingredient.classList.add("recipe-display-ingredient");
                        ingredient.textContent = "- " + ingredients[i];
                        recipeDisplay.appendChild(ingredient);
                    }
                }
            }
            </script>
        </div>
    </body>
</html>
