@font-face {
    font-family: MonumentValley;
    src: url("/fonts/Monument_Valley.otf") format("opentype");
}

@font-face {
    font-family: Ludicrous;
    src: url("/fonts/Ludicrous.woff") format("woff"),
        url("/fonts/Ludicrous.ttf") format("truetype");
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#heading {
    font-family: MonumentValley;
    font-size: 80pt;
    text-align: center;
    border-bottom-style: dotted;
    margin-bottom: 80px;
    padding-bottom: 10px;
}

#content {
    height: 100%;
    width: 85%
}

.recipe-item {
    display: inline;
    position: relative;
}

.recipe-img {
    width: 200px;
    height: 200px;
    margin: 8px;
    border-radius: 10px;
    transition: all 0.3s;
    border-style: dashed;
    border-width: 2px;
    border-color: #888888;
    opacity: 0.8;
}

.selected {
    opacity: 1;
    border-color: #666666;
}

.recipe-img:hover {
    opacity: 0.9;
    border-color: #666666;
}


.checkmark {
    position: absolute;
    top: -190px;
    right: 20px;
    width: 30px;
    height: 30px;
}

#recipe-display {
    position: fixed;
    background: url("/img/stickynote.png");
    right: 4%;
    top: 200px;
    width: 300px;
    height: 300px;
    font-family: Ludicrous;
}

.recipe-display-title {
    transform: rotate(-2deg);
    margin-top: 55px;
    margin-left: 22px;
    margin-bottom: 10px;
    font-size: 18pt;
    max-width: 250px;
}
.recipe-display-ingredient {
    transform: rotate(-2deg);
    margin-left: 32px;
    font-size: 14pt;
    max-width: 250px;
}

.nounderline {
    text-decoration: none;
}
